<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowCount</key>
	<integer>5</integer>
	<key>columnCount</key>
	<integer>7</integer>
	<key>cellData</key>
	<array>
		<array>
			<array>
				<true/>
				<false/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<true/>
				<false/>
				<false/>
			</array>
			<array>
				<true/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<false/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<true/>
				<false/>
				<false/>
			</array>
		</array>
		<array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<false/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<true/>
				<false/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
		</array>
		<array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<false/>
				<true/>
				<true/>
			</array>
			<array>
				<false/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<true/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
		</array>
		<array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
			<array>
				<false/>
				<false/>
				<false/>
				<true/>
			</array>
			<array>
				<true/>
				<true/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<true/>
			</array>
			<array>
				<true/>
				<false/>
				<false/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<true/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<false/>
				<true/>
			</array>
		</array>
		<array>
			<array>
				<false/>
				<false/>
				<true/>
				<true/>
			</array>
			<array>
				<false/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<false/>
			</array>
			<array>
				<false/>
				<true/>
				<true/>
				<false/>
			</array>
			<array>
				<true/>
				<false/>
				<true/>
				<true/>
			</array>
			<array>
				<false/>
				<true/>
				<true/>
				<false/>
			</array>
		</array>
	</array>
</dict>
</plist>
